@font-face {
  font-family: emoji;
  src: url(//xem.github.io/emoji/twemoji.ttf);
}

.filename {
  font-family: monospace;
  font-weight: bold;
  width: 100%;
  border-style: solid;
  border-width: 1px 0px;
  background: white;
  position: sticky;
  top: 0;
}
.subtle {
  color: #ccc;
}
.logentry {
  padding: 0;
  width: 890px;
  font-size: 11pt;
}
.logentry p {
  margin: 0.1em;
}
.logentry:nth-child(even) {
  background: #ffffff;
}
.logentry:nth-child(odd) {
  background: #f7f7f7;
}
.timestamp {
  display: inline-block;
  margin: 0;
  width: 190px;
  vertical-align: top;
  font-family: monospace;
  text-align: right;
  margin: 0.1em;
}
.author {
  display: inline-block;
  vertical-align: top;
  overflow-wrap: break-word;
  text-align: right;
  margin: 0;
  width: 150px;
  margin: 0.1em;
  font-weight: bold;
}
.msg {
  font-family: sans-serif, emoji;
  display: inline-block;
  margin: 0;
  width: 530px;
}
.attachments {
  border: 1px solid lightgray;
  border-radius: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.attachments img {
  display: block;
  width: auto;
  height: auto;
  max-height: 100px;
  max-width: 600px;
}
blockquote {
  margin-left: 2px;
  border-left: 2px solid lightgray;
  padding-left: 6px;
}
.d-mention {
  color: blue;
}
